/*font family from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

html {
  font-size: 62.5%; /*62.5% = 10px; to make it easier to calculate REM units.*/
}

body{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    background-color: #23272a;
    color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.subgroup {
    /* max-width: 150vw;
    max-height: 150vh; */
    width: 15vw;
    height: 50vh;
    border-radius: 10px;
    border: 1px solid #2980b9;
}

a {
    text-decoration: none;
    color: white;
}

#note {
    margin-top: 10px;
}

svg {
    max-width:  5vw;
    max-height: 5vh;
}
/* for smaller screens below 700px */
@media only screen and (max-width: 700px) {
  body {font-size: 1.8rem;}
}

/*for smaller screens below 300px*/
@media only screen and (max-width: 300px) {
  body {font-size: 1.6rem;}
}
